{% extends "base/base.html" %}
{%load staticfiles%}
{% block extrastatic %}
  <link rel="stylesheet" href="{%static 'css/modalStyle.css'%}">
{% endblock extrastatic %}
{% block content %}
<canvas id="circle_finca" width="100" height="120"></canvas>
<SPAN style="position: absolute; top: 80 px; left 100 px; font-size: xx-large;">
    <br>
    {% if finca.nombre %}
     <b>{{finca.nombre}}</b>     
    {% else %}
     <b>Finca con id: {{finca.id}}</b>
    {% endif %}
   
</SPAN>

<hr>
<h1 id="Map">Mapa</h1>
    <br>
<div align="center">
    <canvas id="canva_mapa" style="border:1px solid #7B7B7B;" >
    Your browser does not support the HTML5 canvas tag.</canvas>
</div>
<!-- <a href="#openModal">Lanzar el modal</a> -->


<div id="openModal" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="close">X</a>
        <iframe src="http:/10.161.39.219:8000/lote/4/" frameborder="0"></iframe>
    </div>
</div>

<script>
    var jsonContextoCoordenadas = "{{coordenadas}}".replace(/(&quot\;)/g,"\"");
    var jsonContextoEtapas = "{{etapas}}".replace(/(&quot\;)/g,"\"");
    var jsonContextoLotes = "{{lotes}}".replace(/(&quot\;)/g,"\"");
    var prom = "{{finca.promedio_estado_lotes}}";
</script>
<script src="{%static 'js/canvas.js'%}"></script>
<script src="{%static 'js/mapa.js'%}"></script>
{% endblock content %}