{%load staticfiles%}
<!doctype html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block extrastatic %}
  <!-- Ponemos nuestros CSS -->
  {% endblock extrastatic %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <title>{% block title %} Archivo base {% endblock title %} </title>
  
</head>

<body>
  <div class="container">
    {% block navbar %}
    <!-- Aca debemos crear el menu de navegacion -->
    {% endblock navbar %}

    {% block content %}
    <h1>Bloque contenido</h1>
    {% endblock %}

    {% block footer %}
    {% endblock footer %}
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  
  <script src="{%static 'js/bootstrap.min.js'%}"></script>
  {% block extrajs %}
  <!--Nuestros archivos js -->
  {% endblock extrajs %}
  
</body>
</html>