{% extends "base/base.html" %}
{%load staticfiles%}
{% block navbar %}
{% endblock navbar %}


{% block content %}




		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url('{% static 'img/home.jpg' %}');">
					<span class="login100-form-title-1">
						Ingresar a Coffee Rescuer
					</span>
				</div>

					<form class="login100-form validate-form" method="post">
					{% csrf_token %}
					<div class="wrap-input100 validate-input m-b-26" data-validate="El usuario es obligatorio">
						<span class="label-input100">Usuario</span>
						<input type="text" class="input100" name="username" placeholder="Escribe aquí tu nombre de usuario" required>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "La contraseña es obligatoria">
						<span class="label-input100">Contraseña</span>
						<input type="password" class="input100"
									name="password" placeholder="Escribe aquí tu Contraseña" required>
						<span class="focus-input100"></span>
					</div>

					<div class="ml-5">
						<input type="submit" class="login100-form-btn"
									value="Ingresar">
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock content %}