{% extends "base/base.html" %}
{% block content %}
	<br>
	<br>
	<br>
	{% if messages %}
		{% for message in messages %}
		   <script>
		   		 window.alert("La fecha final no puede ser menor a la fecha inicial");
		   </script>
		{% endfor %}
	{% endif %}
	{% if lote.nombre %}
		<h1>Historial de datos del lote: {{lote.nombre}}</h1>
	{% else %}
		<h1>Historial de datos de: Lote{{lote.id}}</h1>
	{% endif %}
	<hr>
	<br>
	<form method="post">{% csrf_token %}
		{{form.as_p}}
		<button type="submit" class="btn btn-primary" value="submit">Filtrar por fecha</button>
	</form>
	<br>
	<br>
	<br>
	<div class="table-responsive">
	<table class="table table-bordered" style="width:100%">
	<thead>
		<tr>
			<th>Fecha</th>
			<th>Etapa</th>
			<th>Temperatura ambiente</th>
			<th>Humedad ambiente</th>
			<th>Temperatura suelo</th>
			<th>Humedad suelo</th>
			<th>Ph</th>
			<th>Iluminación</th>
		</tr>
	</thead>
 	{% for detalle in historial %}
	 	<tr>
	 		<td>{{detalle.timestamp}}</td>
	 		<td>{{detalle.etapa}}</td>
	 		<td>{{detalle.env_temperature}}</td>
	 		<td>{{detalle.env_humidity}}%</td>
	 		<td>{{detalle.sail_temperature}}</td>
	 		<td>{{detalle.sail_moisture}}%</td>
	 		<td>{{detalle.ph}}</td>
	 		<td>{{detalle.iluminance}}%</td>
	 	</tr>
 	{% endfor %}
</table>
</div>
{% endblock content %}