{% extends "base/base.html" %}
{% load json_filters %}
{% block content %}
	<br>
	<br>
	<br>
	{% if messages %}
		{% for message in messages %}
		   <script>
		   		 window.alert("La fecha final no puede ser menor a la fecha inicial");
		   </script>
		{% endfor %}
	{% endif %}
	{% if lote.nombre %}
		<h1>Historial de datos del lote: {{lote.nombre}}</h1>
	{% else %}
		<h1>Historial de datos de: Lote{{lote.id}}</h1>
	{% endif %}
	<hr>
	<br>
	<form method="post" >{% csrf_token %}
		{{form.as_p}}
		<button type="submit" class="btn btn-primary" value="submit">Filtrar por fecha</button>
	</form>
	<br>
	<br>
	<br>
	<div class="table-responsive">
	<table class="table table-bordered" style="width:100%" id="mytable">
	<thead>
		<tr>
         <th>Fecha</th>
			<th>Fecha UTC</th>
			<th>Etapa</th>
			<th>Temperatura ambiente</th>
			<th>Humedad ambiente</th>
			<th>Temperatura suelo</th>
			<th>Humedad suelo</th>
			<th>Ph</th>
			<th>Iluminación</th>
		</tr>
	</thead>

 	{% for detalle in historial %}
 	 	<tr>
         <td>{{detalle.time}} </td>
	 		<td>{{detalle.timestamp}} UTC</td>
	 		<td>{{detalle.etapa}}</td>
	 		<td>{{detalle.env_temperature}}</td>
	 		<td>{{detalle.env_humidity}}</td>
	 		<td>{{detalle.sail_temperature}}</td>
	 		<td>{{detalle.sail_moisture}}</td>
	 		<td>{{detalle.ph}}</td>
	 		<td>{{detalle.iluminance}}</td>
	 	</tr>
 	{% endfor %}
</table>
</div>
<html>
   <head>
      <title>Google Charts Tutorial</title>
      <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
      <script type = "text/javascript">
         google.charts.load('current', {packages: ['corechart','line']});

      </script>
	   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.10.3/xlsx.full.min.js"></script>
<script lang="javascript" src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
   </head>
   
   <body>
      <button id="button-a">Create Excel</button>
      <div id = "container1" style = "width: 550px; height: 400px; margin: 0 auto">
      </div>
	   <div id = "container2" style = "width: 550px; height: 400px; margin: 0 auto">
      </div>
	   <div id = "container3" style = "width: 550px; height: 400px; margin: 0 auto">
      </div>
	  <div id = "container4" style = "width: 550px; height: 400px; margin: 0 auto">
      </div>


      <script language = "JavaScript">
      
         function drawChart() {
            // Define the chart to be drawn.

            var historial = "{{historial |jsonify }}".replace(/(&quot\;)/g,"\"");
            historial = JSON.parse(historial);
            var date = historial[0]["time"].toString();
            var n =  Object.keys(historial).length;
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Día');
            data.addColumn('number', 'Temperatura');
          	data.addColumn('number','Humedad');
          	data.addColumn('number','Etapa roya');


            data.addRows(n);
            for (var i = 0; i<n;i++){
            data.setCell(i, 0, historial[i]["time"].toString());
            data.setCell(i, 1, historial[i]["env_temperature"].toString());
            data.setCell(i, 2, historial[i]["env_humidity"].toString());
            data.setCell(i, 3, historial[i]["etapa"].toString());
            }

            // Set chart options
            var options = {'title' : 'Gráfico de datos',
               hAxis: {
                  title: 'Fecha de Toma'
               },
               vAxis: {
                  title: 'Datos Generales'
               },   
               'width':1000,
               'height':400,
               curveType: 'function'
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.LineChart(document.getElementById('container1'));
            chart.draw(data, options);
         }
         google.charts.setOnLoadCallback(drawChart);
      </script>

	  <script language = "JavaScript">

         function drawChart() {
            // Define the chart to be drawn.

            var historial = "{{historial |jsonify }}".replace(/(&quot\;)/g,"\"");
            historial = JSON.parse(historial);
            var date = historial[0]["time"].toString();
            var n =  Object.keys(historial).length;
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Día');
          	data.addColumn('number','Etapa roya');


            data.addRows(n);
            for (var i = 0; i<n;i++){
            data.setCell(i, 0, historial[i]["time"].toString());
            data.setCell(i, 1, historial[i]["etapa"].toString());
            }

            // Set chart options
            var options = {'title' : 'Etapa vs Tiempo',
               hAxis: {
                  title: 'Fecha de Toma'
               },
               vAxis: {
                  title: 'Etapa del hongo'
               },
               'width':1000,
               'height':400,
               curveType: 'function'
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.LineChart(document.getElementById('container2'));
            chart.draw(data, options);
         }
         google.charts.setOnLoadCallback(drawChart);
      </script>

	  <script language = "JavaScript">

         function drawChart() {
            // Define the chart to be drawn.

            var historial = "{{historial |jsonify }}".replace(/(&quot\;)/g,"\"");
            historial = JSON.parse(historial);
            var date = historial[0]["time"].toString();
            var n =  Object.keys(historial).length;
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Día');
            data.addColumn('number', 'Temperatura');


            data.addRows(n);
            for (var i = 0; i<n;i++){
            data.setCell(i, 0, historial[i]["time"].toString());
            data.setCell(i, 1, historial[i]["env_temperature"].toString());

            }

            // Set chart options
            var options = {'title' : 'Temperatura Vs tiempo',
               hAxis: {
                  title: 'Fecha de Toma'
               },
               vAxis: {
                  title: 'Temperatura'
               },
               'width':1000,
               'height':400,
               curveType: 'function'
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.LineChart(document.getElementById('container3'));
            chart.draw(data, options);
         }
         google.charts.setOnLoadCallback(drawChart);
      </script>
	<script language = "JavaScript">

         function drawChart() {
            // Define the chart to be drawn.

            var historial = "{{historial |jsonify }}".replace(/(&quot\;)/g,"\"");
            historial = JSON.parse(historial);
            var date = historial[0]["time"].toString();
            var n =  Object.keys(historial).length;
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Día');
          	data.addColumn('number','Humedad');


            data.addRows(n);
            for (var i = 0; i<n;i++){
            data.setCell(i, 0, historial[i]["time"].toString());
            data.setCell(i, 1, historial[i]["env_humidity"].toString());

            }

            // Set chart options
            var options = {'title' : 'Humedad vs Tiempo',
               hAxis: {
                  title: 'Fecha de Toma'
               },
               vAxis: {
                  title: 'Humedad'
               },
               'width':1000,
               'height':400,
               curveType: 'function'
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.LineChart(document.getElementById('container4'));
            chart.draw(data, options);
         }
         google.charts.setOnLoadCallback(drawChart);
      </script>

  	<script>

        var wb = XLSX.utils.table_to_book(document.getElementById('mytable'), {sheet:"Sheet JS"});
        var wbout = XLSX.write(wb, {bookType:'csv', bookSST:true, type: 'binary'});
        function s2ab(s) {
                        var buf = new ArrayBuffer(s.length);
                        var view = new Uint8Array(buf);
                        for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                        return buf;
        }
        $("#button-a").click(function(){
        saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), 'HistorialDatos.csv');
        });
</script>
   </body>
</html>

{% endblock content %}