{% extends "base/base.html" %}
{% load json_filters %}
{% block content %}
	<br>
	<br>
	<br>
	{% if messages %}
		{% for message in messages %}
		   <script>
		   		 window.alert("La fecha final no puede ser menor a la fecha inicial");
		   </script>
		{% endfor %}
	{% endif %}
	{% if lote.nombre %}
		<h1>Historial de datos del lote: {{lote.nombre}}</h1>
	{% else %}
		<h1>Historial de datos de: Lote{{lote.id}}</h1>
	{% endif %}
	<hr>
	<br>
	<form method="post" >{% csrf_token %}
		{{form.as_p}}
		<button type="submit" class="btn btn-primary" value="submit">Filtrar por fecha</button>
	</form>
	<br>
	<br>
	<br>
	<div class="table-responsive">
	<table class="table table-bordered" style="width:100%">
	<thead>
		<tr>
         <th>Fecha</th>
			<th>Fecha UTC</th>
			<th>Etapa</th>
			<th>Temperatura ambiente</th>
			<th>Humedad ambiente</th>
			<th>Temperatura suelo</th>
			<th>Humedad suelo</th>
			<th>Ph</th>
			<th>Iluminación</th>
		</tr>
	</thead>

 	{% for detalle in historial %}
 	 	<tr>
         <td>{{detalle.time}} </td>
	 		<td>{{detalle.timestamp}} UTC</td>
	 		<td>{{detalle.etapa}}</td>
	 		<td>{{detalle.env_temperature}}</td>
	 		<td>{{detalle.env_humidity}}%</td>
	 		<td>{{detalle.sail_temperature}}</td>
	 		<td>{{detalle.sail_moisture}}%</td>
	 		<td>{{detalle.ph}}</td>
	 		<td>{{detalle.iluminance}}%</td>
	 	</tr>
 	{% endfor %}
</table>
</div>
<html>
   <head>
      <title>Google Charts Tutorial</title>
      <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
      <script type = "text/javascript">
         google.charts.load('current', {packages: ['corechart','line']});  
      </script>
   </head>
   
   <body>
      <div id = "container" style = "width: 550px; height: 400px; margin: 0 auto">
      </div>

      <script language = "JavaScript">
      
         function drawChart() {
            // Define the chart to be drawn.

            var historial = "{{historial |jsonify }}".replace(/(&quot\;)/g,"\"");
            historial = JSON.parse(historial)
            //(historial[0]["time"].toString())
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Día');
            data.addColumn('number', 'Temperatura');
          	data.addColumn('number','Humedad');
          	data.addColumn('number','Etapa roya');
	
            data.addRows(6);
            data.setCell(0, 0, '20/08/2018 13:16');
            data.setCell(0, 1, 25);
            data.setCell(0, 2, 22);
            data.setCell(0, 3, 1);
            data.setCell(1, 0, '21/08/2018 13:16');
            data.setCell(1, 1, 20);
            data.setCell(1, 2, 22);
            data.setCell(1, 3, 2);
            data.setCell(2, 0, '22/08/2018 13:16');
            data.setCell(2, 1, 23);
            data.setCell(2, 2, 24);
            data.setCell(2, 3, 3);
            data.setCell(3, 0, '23/08/2018 13:16');
            data.setCell(3, 1, 24);
            data.setCell(3, 2, 26);
            data.setCell(3, 3, 4);
            data.setCell(4, 0, '24/08/2018 13:16');
            data.setCell(4, 1, 25);
            data.setCell(4, 2, 22);
            data.setCell(4, 3, 4);
            data.setCell(5, 0, '25/08/2018 13:16');
            data.setCell(5, 1, 20);
            data.setCell(5, 2, 22);
            data.setCell(5, 3, 4);
    
            
            // Set chart options
            var options = {'title' : 'Gráfico de datos',
               hAxis: {
                  title: 'Fecha de Toma'
               },
               vAxis: {
                  title: 'Datos Generales'
               },   
               'width':1000,
               'height':400,
               curveType: 'function'
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.LineChart(document.getElementById('container'));
            chart.draw(data, options);
         }
         google.charts.setOnLoadCallback(drawChart);
      </script>
  
   </body>
</html>
{% endblock content %}