{% extends "informacion/index.html" %}
{% block titulo_header %}
    Contáctanos
{% endblock %}
{% block subtitulo_header %}
    ¿Tienes preguntas? Nosotros tenemos las respuestas.
{% endblock %}
{% block content %}
 <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p align ="justify">Coffee Rescuer es especialista en el cuidado de los cultivos de café, mediante el uso de nuevas tecnologías nos aseguramos de mantenerte informado sobre el estado de tu cultivo. ¿La roya te preocupa? Contáctanos y nuestro equipo te brindará soluciones.</p>
                <p>Escríbenos al correo: coffeerescuer@gmail.com</p>
                <p>O visítanos, estamos ubicados en la Universidad EAFIT</p>
            </div>
            <div class="col-lg-8 col-md-10 mx-auto">
                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.4850883537206!2d-75.58152868573427!3d6.199553328565581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46827ce55554cf%3A0xab8ed474ed2c00a9!2sUniversidad+EAFIT!5e0!3m2!1ses!2sco!4v1541433867788" class="w-100" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}

