{% extends "informacion/index.html" %}
{%load staticfiles%}

{% block extrastatic%}
    <link href="{% static 'css/galeria.css' %}" rel="stylesheet">
{% endblock %}

{% block titulo_header %}
    Galería
{% endblock %}

{% block subtitulo_header %}
   Conoce lo que hacemos
{% endblock %}

{% block content %}
    <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{%static 'img/SensorSub.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"  align ="center">Montaje electrónico, gracias a la calidad y precisión de nuestros sensores te mantendremos informado de la salud de tu café.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{%static 'img/Vivero.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text" align ="center">Este es nuestro vivero de análisis, donde realizamos todas las pruebas para proporcionarte el mejor servicio.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{%static 'img/SensorCamara.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text" align ="center">Cámaras subterráneas, para brindarte un mejor servicio nuestro sistema analiza tu cultivo desde todos los puntos</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{%static 'img/Roya0.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text" align ="center">Café Sano, el color verde brillante en sus hojas es característico de un buen café. ¡Así debe lucir tu cultivo!</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{%static 'img/Roya1.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text" align ="center">Café con un 10% de roya, las manchas amarillas comienzan a ser visibles y la infección comienza a expandirse.</p>
                </div>
              </div>
            </div>
           <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{%static 'img/Roya4.jpeg' %}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text" align ="center">Café con 85% de infección, las manchas amarillas están presentes en toda la hoja ¡No esperes a que sea tarde!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <script src="{%static 'js/popper.min.js'%}"></script>
    <script src="{%static 'js/holder.min.js'%}"></script>
{% endblock %}



