{% extends "informacion/index.html" %}
{% block titulo_header %}
    Sobre nosotros
{% endblock %}
{% block subtitulo_header %}
    ¿Quiénes somos?
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p align ="justify">En Colombia alrededor de 563.000 familias subsisten a base del cultivo de café, las cuales año tras año sufren perdidas debido a la presencia de este hongo. Tradicionalmente debido a las numerosas hectáreas que cubren los cultivos de café, los caficultores se limitan a realizar controles al azar, esto lleva a un alto grado de incertidumbre sobre la salud del cultivo, ¿Podríamos tener un mayor control sobre la Roya en los cultivos?</p>
                <p align ="justify">Este proyecto nació desde una investigación de maestría en la universidad EAFIT con el objetivo de reducir la pérdida de café debido a las infecciones de Roya y proporcionarle a los caficultores mayor información acerca de sus cultivos de café, con la ventaja de poder acceder a esta solo con una conexión a internet. </p>

            </div>

        </div>
    </div>

    <hr>
{% endblock %}

